.header--inner {
	display: block;
	position: relative;
}

article {
	padding-bottom: 50px;
}

.page__universal-wrapper.page__universal-wrapper--inner div, .page__universal-wrapper.page__universal-wrapper--inner span, .page__universal-wrapper.page__universal-wrapper--inner applet, .page__universal-wrapper.page__universal-wrapper--inner object, .page__universal-wrapper.page__universal-wrapper--inner iframe, .page__universal-wrapper.page__universal-wrapper--inner h1, .page__universal-wrapper.page__universal-wrapper--inner h2, .page__universal-wrapper.page__universal-wrapper--inner h3, .page__universal-wrapper.page__universal-wrapper--inner h4, .page__universal-wrapper.page__universal-wrapper--inner h5, .page__universal-wrapper.page__universal-wrapper--inner h6, .page__universal-wrapper.page__universal-wrapper--inner p, .page__universal-wrapper.page__universal-wrapper--inner blockquote, .page__universal-wrapper.page__universal-wrapper--inner pre, .page__universal-wrapper.page__universal-wrapper--inner a, .page__universal-wrapper.page__universal-wrapper--inner abbr, .page__universal-wrapper.page__universal-wrapper--inner acronym,  .page__universal-wrapper.page__universal-wrapper--inner address, .page__universal-wrapper.page__universal-wrapper--inner big, .page__universal-wrapper.page__universal-wrapper--inner cite, .page__universal-wrapper.page__universal-wrapper--inner code, .page__universal-wrapper.page__universal-wrapper--inner del, .page__universal-wrapper.page__universal-wrapper--inner dfn, .page__universal-wrapper.page__universal-wrapper--inner em, .page__universal-wrapper.page__universal-wrapper--inner font, .page__universal-wrapper.page__universal-wrapper--inner ins, .page__universal-wrapper.page__universal-wrapper--inner kbd, .page__universal-wrapper.page__universal-wrapper--inner q, .page__universal-wrapper.page__universal-wrapper--inner s, .page__universal-wrapper.page__universal-wrapper--inner samp, .page__universal-wrapper.page__universal-wrapper--inner small, .page__universal-wrapper.page__universal-wrapper--inner strike, .page__universal-wrapper.page__universal-wrapper--inner strong, .page__universal-wrapper.page__universal-wrapper--inner sub,  .page__universal-wrapper.page__universal-wrapper--inner sup, .page__universal-wrapper.page__universal-wrapper--inner tt, .page__universal-wrapper.page__universal-wrapper--inner var, .page__universal-wrapper.page__universal-wrapper--inner dl, .page__universal-wrapper.page__universal-wrapper--inner dt, .page__universal-wrapper.page__universal-wrapper--inner dd, .page__universal-wrapper.page__universal-wrapper--inner ol, .page__universal-wrapper.page__universal-wrapper--inner ul, .page__universal-wrapper.page__universal-wrapper--inner li, .page__universal-wrapper.page__universal-wrapper--inner fieldset, .page__universal-wrapper.page__universal-wrapper--inner form, .page__universal-wrapper.page__universal-wrapper--inner label, .page__universal-wrapper.page__universal-wrapper--inner legend, .page__universal-wrapper.page__universal-wrapper--inner table, .page__universal-wrapper.page__universal-wrapper--inner caption, .page__universal-wrapper.page__universal-wrapper--inner tbody, .page__universal-wrapper.page__universal-wrapper--inner tfoot, .page__universal-wrapper.page__universal-wrapper--inner thead, .page__universal-wrapper.page__universal-wrapper--inner tr, .page__universal-wrapper.page__universal-wrapper--inner th, .page__universal-wrapper.page__universal-wrapper--inner td {
	color: #000;
}
/*

.page__universal-wrapper.page__universal-wrapper--inner {
	padding: 15px 120px;
}
*/
.page__extra-wrapper--inner {
	padding: 0 120px;
}
.title--inner {
	color: #000;
	font-family: "PT Serif", serif;
	font-size: 40px;
	font-weight: bold;
	line-height: 1.2;
}
article p {
	padding: 10px 0;
}
article a {
	color: #3366bb;
	text-decoration: underline;
}

article a.universal_button {
	text-decoration: none;
}


.title--inner.title--inner--main {
	text-align: center;
	padding: 40px 0;
	margin: 0 auto;
}

h3.title--inner.title--inner--main {
	text-align: left;
	font-size: 28px;
	font-family: "PT Sans",sans-serif;
	padding: 15px 0;
}
.title--white {
	color: #fff;
}
.title-main_page.title--white {
	color: #fff;
}


h1.title-main_page.title--white  {
	color: #fff;
	padding: 0 20px;
	font-size: 44px;
}

h2.title-main_page.title--white {
	padding: 0 15px;
	font-size: 28px;
}

.main_menu-wrapper.main_menu-wrapper--inside-wrapper .main_menu-wrapper--inner {
	background: none;
	margin: 0;
}

.main_menu-wrapper.main_menu-wrapper--inside-wrapper .main_menu-wrapper--inner ul > li > a {
	color: #fff;
}
.main_menu-wrapper.main_menu-wrapper--inside-wrapper .main_menu-wrapper--inner ul > li:first-child > a {
	padding-left: 0;
}
.main_menu-wrapper.main_menu-wrapper--inside-wrapper .main_menu-wrapper--inner ul > li:last-child > a {
	padding-right: 0;
}

.page__universal-two_cols--wrapper.page__universal-two_cols-simple--inner-wrapper .content_title--small {
	text-align: center;
}
.page__universal-two_cols--wrapper.page__universal-two_cols-simple--inner-wrapper a {
	color: #3366bb;
	padding: 5px 0;
	text-decoration: underline;
	display: inline-block; 
}
.wrapper_inner-colored.wrapper_inner-colored--simple {
	width: 80%;
	max-width: 900px;
	min-width: 460px;
	display: block;
	margin: 0 auto;
	background: #bababd;
}
.calc_line__wrapper-inner--simple {
	
}

.calc_line__wrapper.calc_line__wrapper-two-cols.calc_line__wrapper--small {
	background: none;
	padding: 0;
	border: none;
	display: inline-block;
	float: left;
	line-height: 1.2;
	max-width: 450px;
	text-align: center;
	vertical-align: top;
	width: 47%;
}
.calc_line__wrapper.calc_line__wrapper-two-cols.calc_line__wrapper--small:nth-child(2n) {
	float: right;
	margin: 0;
	text-align: center;
}
.calc_line__cell {
	padding-bottom: 20px;
}
.calc_line__cell input,
.calc_line__cell select{
	width: 100%;
	padding: 12px;
}

.calc_line__cell select {
	padding: 10px;
}
.universal_line__wrapper.universal_line__wrapper--simple {
	clear: both;
	margin: 0 auto;
	max-width: 900px;
	min-width: 400px;
	width: 100%;
	
}

.page__universal-two_cols--wrapper table > thead > tr > th {
	font-weight: bold;
	font-size: 28px;
	text-align: center;
	padding: 15px 0;
}



.page__universal-two_cols--wrapper table > tbody > tr > td {
	font-size: 16px;
	text-align: justify;
	padding: 0 10px;
}
.page__universal-two_cols--wrapper .table_title {
	font-weight: bold;
	min-width: 143px;
	padding: 0 5px;
}


.table_title.table_title--grey {
	
}
page__universal-two_cols--wrapper-red {
	text-align: left;

}

.page__universal-two_cols--wrapper.page__universal-two_cols--wrapper-red table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 50px;
}


.page__universal-two_cols--wrapper.page__universal-two_cols--wrapper-red table > thead > tr > th,
.page__universal-two_cols--wrapper.page__universal-two_cols--wrapper-red table > tbody > tr > td {
	border-bottom: 1px solid #707070;
	border-top: 1px solid #707070;
	font-size: 16px;
	font-weight: 400;
	padding: 15px;
	text-align: left;
}
.page__universal-two_cols--wrapper.page__universal-two_cols--wrapper-red table > thead > tr > th:first-child {
	background-color: #ff0000;
	color: #fff;
}


.page__universal-two_cols--wrapper.page__universal-two_cols--wrapper-red table > tbody > tr > td:first-child {
	background-color: #b4b4b4;
	text-align: left;
}

.page__universal-two_cols--wrapper.page__universal-two_cols--wrapper-red table > tbody > tr > td {
	text-align: justify;
}


.page__extra-wrapper--design h1.content_title--small,
.content_title--inner.content_title--small {
	padding: 20px 0;
	line-height: 1.2;
	font-size: 28px;
	font-family: "PT Sans", sans-serif;
}


.layout__big_col_half--inner a.form_button_green {
	padding: 5px 2px;
	color: #fff;
}

.answer-wrapper a.question-link {
	color: #3366bb;
    font-weight: bold;
}
.answer-wrapper a {
	color: #3366bb !important; 
}