.slider-wrapper {
    display: block;
    margin: 0 auto;
	clear: both;
	position: relative;
	padding: 0 120px;
}

.carousel-slide {
	height: 105px;
	width: 155px;
	margin: 0 10px;
	cursor: pointer;
}


.slider-wrapper--inner {
    border: 1px solid #b3b3b3;
    padding: 10px;
    text-align: center;
	position: relative;
}


.carousel-arrows {
	position: absolute;
	width: 100%;
	top: 40%;
}
.carousel-arrows > .carousel-back {
	background-image: url("../images/carousel_arrows.png");
	background-position: 0 -36px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 36px;
	left: -3px;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	width: 36px;
}
.carousel-arrows > .carousel-forward {
	background-image: url("../images/carousel_arrows.png");
	background-position: -36px -36px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 36px;
	position: absolute;
	right: 16px;
	text-indent: 100%;
	width: 36px;
	overflow: hidden;
}


#gallery-modal {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	max-width: 700px;
	padding: 10px;
}
#gallery-modal .popup_cell:first-child {
	float: right !important;
}