@media only screen and (max-width : 1890px){
  .forma_rascheta select,
  .form_about select,
  .sotrudnichestvo_form_content select{
    background-image: url(../img/row.png);
    background-repeat: no-repeat;
    background-position: 95% 11px;
  }
  .sotrudnichestvo_form_content select{
    background-position: 95% 20px;
  }
}
@media only screen and (max-width : 1540px){
  .header_wrapper,
  .nine_wrapper{
    padding: 0 6.5%;
  }
  .nine_wrapper{
    padding-top: 50px;
  }
  .remont h1{
    font-size: 60px;
  }
  .remont h3{
    font-size: 34px;
  }
  .five_content_wrapper{
    width: 45%;
  }
  .raschet_stoimosti_wrapper p:nth-child(11){
    font-size: 20px;
    margin: 0 250px 20px;
  }
  .separator{
    width: 880px;
  }
  .forma_rascheta3{
    margin: 55px 0 60px 100px;
  }
  .menu_wrapper{
    width: 80%;
  }
  .menu_page2{
    bottom: 20px;
  }
  .otvety_wrapper{
    padding: 0 6.5%;
  }
  .menu_page4{
    z-index: 999;
    right: 20px;
    bottom: 385px;  
  }
  .menu_page5{
    right: 100px;
  }
  .sotrudnichestvo_wrapper{
    padding: 0 8.5%;
  }
  .prices_wrapper{
    padding: 0 4.5%;
  }
  .tip_content{
    min-height: 330px;
  }
  .content_separator p{
    margin: 0 0 80px -190px;
  }
  .menu_page7{
    right: 50px;
  }
  .contacts_wrapper_page4{
    margin-left: 280px;
  }
  #scroller{
    right: 55px;
    bottom: 30px;
  }
}
@media only screen and (max-width : 1440px){
  .three_wrapper,
  .work_wrapper{
    padding: 0 4%;
  }
  .five_wrapper{
    padding: 0 9%;
  }
  .seven_wrapper{
    padding: 40px 9% 0 9%;
  }
  .seven_wrapper .p7{
    background-color: transparent;
  }
  .seven_wrapper .p7 .five_content p{
    font-size: 16px;
  }
  .five_content_wrapper{
    background-color: rgba(255, 255, 255, .8);
  }
  .five_content_wrapper2{
    width: 38%;
  }
  .raschet_stoimosti_wrapper{
    padding: 0 10%;
  }
  .btn_top{
    right: 70px;
  }
  .five_content p{
    font-size: 14px;
    width: 70%;
  }
  .menu_wrapper{
    width: 85%;
  }
  .work_kompany_wrapper,
  .about_wrapper{
    padding: 0 5%;
  }
  .content_separator p{
    width: 810px;
  }
  .contacts_wrapper_page4{
    margin-left: 230px;
  }
}
@media only screen and (max-width : 1370px){
  .action_wrapper h2{
    width: 95%;
  }
  .seven_wrapper{
    padding: 40px 5% 0 5%;
  }
  .menu_wrapper{
    width: 100%;
  }
  .menu_page2{
    bottom: 20px;
  }
  .menu_page3{
    z-index: 999;
    bottom: 300px;
  }
  .sotrudnichestvo_wrapper{
    padding: 0 5%;
  }
  .contacts_wrapper_page4{
    margin-left: 125px;
  }
}
@media only screen and (max-width : 1366px){
  .contacts_wrapper_page4{
    margin-left: 125px;
  }
  .content_separator p{
    width: 755px;
  }
}
@media only screen and (max-width : 1320px){
  .prices_wrapper{
    padding: 0 2%;
  }
  .contacts_wrapper_page4{
    margin-left: 120px;
  }
  #scroller{
    right: 20px;
    bottom: 30px;
  }
}
@media only screen and (max-width : 1270px){
  .sotrudnichestvo_wrapper{
    padding: 0 2%;
  }
  .content_separator p{
    width: 720px;
  }
}
@media only screen and (max-width : 1240px){
  .separator{
    width: 920px;
  }
  .raschet_stoimosti_wrapper{
    padding: 0 5%;
  }
  .raschet_stoimosti_wrapper h4{
    margin: 30px 300px 20px 330px;
  }
  .raschet_stoimosti_wrapper h4:nth-child(10){
    margin: 40px 250px 15px 300px;
  }
  .raschet_stoimosti_wrapper p:nth-child(11){
    margin: 0 200px 20px;
  }
  .seven_wrapper{
    padding: 40px 2% 0 2%;
  }
  .seven_form_wrapper{
    margin-left: 4%;
  }
  .work_kompany_wrapper,
  .about_wrapper{
    padding: 0 2%;
  }
  .menu_page3{
    bottom: 270px;
  }
  .prices_wrapper{
    padding: 0 1%;
  }
  .tip_content{
    margin-right: 40px;
  }
  .content_separator p{
    margin: 0 0 80px -20px;
  }
  .menu_page7{
    right: 30px;
    bottom: 20px;
  }
  .contacts_wrapper_page4{
    margin-left: 90px;
  }
}
@media only screen and (max-width : 1200px){
  .header_wrapper,
  .remont_wrapper{
    padding: 0 2.5%;
  }
  .remont h1{
    font-size: 54px;
  }
  .remont h3{
    font-size: 30px;
  }
  .btn_top{
    right: 40px;
  }
  .form_wrapper{
    width: 450px;
    margin-top: 50px;
    padding: 20px 30px;
    margin-right: 40px;
  }
  .five_wrapper{
    padding: 0 3%;
  }
  .five_content_wrapper,
  .five_content_wrapper2{
    margin-left: 3.5%;
  }
  .nine_wrapper{
    padding: 50px 3.5% 0 3.5%;
  }
  .vakansia_wrapper .vakansia{
    width: 48%;
    padding-right: 0;
    font-size: 16px;
  }
  .vakansia:nth-child(1),
  .vakansia:nth-child(3){
    margin-right: 20px;
  }
  .form_about_wrapper{
    margin-right: 80px;
    margin-left: 90px;
  }
  .sotrudnichestvo_wrapper{
    padding: 0 1%;
  }
  .sotrudnichestvo_content{
    margin-right: 40px;
  }
  .tip_content{
    width: 51%;
    margin: 0 auto 20px auto;
    float: none;
  }
  .content_separator p{
    margin: 0 0 80px 15px;
    width: 890px;
  }
  .tip_content:nth-child(2),
  .tip_content:nth-child(4){
    margin-right: 140px;
  }
  .contacts_wrapper_page4{
    margin-left: 70px;
  }
}
@media only screen and (max-width : 1170px){
  .company_content p{
    font-size: 14px;
  }
  .company_content{
    width: 500px;
    margin-right: 40px;
    min-height: 0;
  }
  .company_content:nth-child(2),
  .company_content:nth-child(4){
    margin-right: 0;
  }
  .otvety_wrapper{
    padding: 0 3%;
  }
  .sotrudnichestvo_content{
    margin-right: 30px;
  }
  .sotrudnichestvo_form_wrapper{
    margin: 0 0 90px -60px;
  }
  .prices_wrapper{
    padding: 0 3%;
  }
  .tip_content:nth-child(2),
  .tip_content:nth-child(4){
    margin-right: 140px;
    width: 670px;
    margin-top: -10px;
  }  
  .tip_content:nth-child(3){
    margin-top: -60px
  }
}
@media only screen and (max-width : 1100px){
  .three_wrapper, 
  .work_wrapper,
  .five_wrapper,
  .raschet_stoimosti_wrapper{
    padding: 0 1%;
  }
  .three_wrapper{  
    padding: 0 2%;
  }
  .separator{
    width: 860px;
  }
  .raschet_stoimosti_wrapper{
    padding: 0 2%;
  }
  .forma_rascheta{
    margin: 0 50px;
  }
  .forma_rascheta2{
    margin: 0 50px 15px 50px;
  }
  .forma_rascheta3{
    margin: 55px 50px 60px 50px;
  }
  .raschet_stoimosti_wrapper .zakaz_remonta{
    margin-left: 230px;
  }
  .seven_form_wrapper{
    margin-left: 1%;
    width: 46%;
  }
  .p7{
    width: 48%;
  }
  .menu_wrapper ul li a{
    font-size: 18px;
  }
  .nine_wrapper p{
    font-size: 28px;
    margin: 15px 100px 0 100px;
  }
  .work_kompany_wrapper h4{
    margin: 30px 60px 25px 60px;
  }
  .work_kompany_wrapper h5{
    margin: 30px 60px;
  }
  .work_kompany_wrapper p:nth-child(3),
  .work_kompany_wrapper p:nth-child(4),
  .work_kompany_wrapper p:nth-child(5),
  .work_kompany_wrapper p:nth-child(7),
  .work_kompany_wrapper p:nth-child(9),
  .work_kompany_wrapper p:nth-child(10),
  .work_kompany_wrapper p:nth-child(11){
    margin: 20px 60px 20px 60px;
  }
  .work_kompany_wrapper span:nth-child(6){
    margin: 20px 60px;
  }
  .vakansia_wrapper{
    margin-left: -15px;
  }
  .vakansia_content p{
    font-size: 14px;
    padding: 10px 0 0 10px;
  }  
  .vakansia_content span{
    font-size: 14px;
    padding: 15px 0 0 10px;
  }
  .form_about_wrapper{
    margin-right: 60px;
    margin-left: 30px;
  }
  .btn_top{
    right: 100px;
  }
  .company_content{
    width: 420px;
    margin-right: 50px;
    min-height: 420px;
  }
  .company_content_img{
    float: none;
    margin: 0 auto 20px auto;
  }
  .company_content h5{
    text-align: center;
  }
  .menu_page3{
    bottom: 300px;
    right: 30px;
  }
  .page3_content{
    width: 45%;
    padding: 0 20px;
  }
  .page3{
    width: 100%;
  }
  .menu_page4{
    right: 20px;
    bottom: 423px;  
  }
  .otvety_content{
    padding: 0 30px 60px 20px;
  }
  .sotrudnichestvo_content{
    margin-right: 20px;
    width: 47%;
    margin-bottom: 20px;
    padding: 0 40px;
    min-height: 250px;
  }
  .sotrudnichestvo_content:nth-child(4){
    margin-right: 20px;
  }
  .menu_page6{
    z-index: 999;
    right: 20px;
    bottom: 220px;
  }
  .tip_content:nth-child(1),
  .tip_content:nth-child(3){
    width: 540px;
  }
  .content_separator p{
    margin: 0 0 80px 150px;
    display: inline-block;
    width: 880px;
  }
  .contacts_wrapper_page4{
    margin-left: 105px;
  }
  .fix_header_wrapper{
    padding: 0 2.5%;
  }
  #scroller{
    bottom: 20px;
  }
}
@media only screen and (max-width : 1030px){
  .city_wrapper,
  .date_wrapper,
  .logo_wrapper,
  .clock_wrapper,
  .fone_wrapper{
    font-size: 20px;
  }
  .header_wrapper,
  .fix_header_wrapper{
    padding: 0 2.5% 10px 2.5%;
  }
  .fix_header_wrapper{
    padding-left: 65px;
  }
  .content .img_wrap{
    float: none;
    margin: 0 auto 40px auto;
  }
  .content{
    text-align: center;
  }
  .action_wrapper h2{
    font-size: 36px;
  }
  .action_wrapper p{
    font-size: 26px;
    width: 70%;
  }
  .five_content_wrapper2{
    width: 45%;
    height: 545px;
  }
  .raschet_stoimosti_wrapper p{
    margin: 0 50px;
  }
  .forma_rascheta{
    margin: 0 25px;
  }
  .forma_rascheta2{
    margin: 0 25px 15px 25px;
  }
  .forma_rascheta3{
    margin: 55px 25px 60px 25px;
  }
  .raschet_stoimosti_wrapper .zakaz_remonta{
    margin-left: 205px;
  }
  .separator{
    width: 900px;
  }
  .seven_form_wrapper{
    margin-left: 0;
    width: 49%;
  }
  .p7{
    margin-left: 25px;
  }
  .form_about_wrapper{
    margin-right: 30px;
    margin-left: 20px;
  }
  .about_company_wrapper{
    padding: 0 3% 40px 3%;
  }
  .menu_page3{
    bottom: 353px;
    right: 20px;
  }
  .obratniy_zvonok_wrapper .nine_form_wrapper{
    width: 940px;
  }
  .nine_form_wrapper form input{
    width: 330px;
    float: left;
  }
  .nine_form_wrapper form button{
    float: left;
    width: 225px;
  }
  .sotrudnichestvo_content{
    width: 45%;
    margin-bottom: 20px;
    padding: 0 30px;
    min-height: 250px;
  }
  .menu_page6{
    right: 40px;
    bottom: 20px;
  }
  .sotrudnichestvo_form{
    margin: 0 0 0 105px;
  }
  .tip_content:nth-child(2),
  .tip_content:nth-child(4){
    margin-right: 70px;
  }
  .content_separator p{
    margin: 0 0 80px 15px;
    width: 683px;
  }
  .contacts_wrapper_page4{
    margin-left: 70px;
  }
  #scroller{
    right: 20px;
    bottom: 10px;
  }
}
@media only screen and (max-width : 980px){
  .form_wrapper{
    margin-right: 20px;
  }
  .popup-gallery{
    width: 950px;
  }
  .popup-gallery a{
    margin-right: 45px;
  }
  .owl-carousel{
    width: 935px;
    margin: 40px auto 0 auto;
    padding: 30px 30px 30px 40px;
    position: relative;
  }
  .owl-nav .owl-prev{
    right: 5px;
  }
  .sotrudnichestvo_form{
    margin: 0 0 0 80px;
  }
  .schema_btn{
    margin: 0 0 0 -30px;
  }
  .contacts_wrapper_page4{
    margin-left: 60px;
  }
  .fix_header_wrapper{
    padding-left: 31px;
    padding-right: 0;
    width: 980px;
  }
}
@media only screen and (max-width : 992px) {
  .button_1 a,
  .button_2 a,
  .button_3 a{
    font-size: 20px;
  }
  .nine_wrapper{
    padding: 50px 1% 0 1%;
  }
}
@media only screen and (max-width : 960px){
  .three_wrapper p:nth-child(2){
    width: 54%;
  }
  .content p{
    width: 98%;
  }
  .forma_rascheta{
    margin: 0;
  }
  .forma_rascheta2{
    margin: 0 0 15px 0;
  }
  .forma_rascheta3{
    margin: 55px 0 60px 0;
  }
  .raschet_stoimosti_wrapper .zakaz_remonta{
    margin-left: 180px;
  }
  .separator{
    width: 830px;
  }
  .raschet_stoimosti_wrapper h4{
    margin: 30px 200px 20px 230px;
  }
  .raschet_stoimosti_wrapper h4:nth-child(10){
    margin: 40px 200px 15px 200px;
  }
  .seven_wrapper{
    padding: 40px 1% 0 1%;
  }
  .seven_form_wrapper{
    width: 48%;
  }
  .p7{
    width: 49%;
  }
  .nine_form_wrapper{
    width: 950px;
    margin: 55px 0 70px -8px;
  }
  .menu_wrapper{
    margin-left: -4px;
  }
  .nine_wrapper button{
    line-height: 32px;
    margin-top: 0;
  }
  .vakansia_content p{
    line-height: 1;
  }
  .work_kompany_wrapper h4{
    margin: 30px 30px 25px 30px;
  }
  .work_kompany_wrapper h5{
    margin: 30px 30px;
  }
  .work_kompany_wrapper p:nth-child(3),
  .work_kompany_wrapper p:nth-child(4),
  .work_kompany_wrapper p:nth-child(5),
  .work_kompany_wrapper p:nth-child(7),
  .work_kompany_wrapper p:nth-child(9),
  .work_kompany_wrapper p:nth-child(10),
  .work_kompany_wrapper p:nth-child(11){
    margin: 20px 30px 20px 30px;
  }
  .work_kompany_wrapper span:nth-child(6){
    margin: 20px 30px;
  }
  .form_about_wrapper{
    margin-right: 10px;
    margin-left: 10px;
  }
  .menu_page3{
    bottom: 290px;
    right: 20px;
  }
  .menu_page4{
    right: 20px;
    bottom: 383px;  
  }
  .content_separator p{
    margin: 0 0 80px 150px;
    width: 750px;
  }
}